<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src='aba-guilty-gear.gif' alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>blah blah blah fill this in</p>
            </div>
        </div>
        <!--Projects... eventually-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

                <div *ngFor="let picture of featuredProject.pictures">
         
                        <img src={{picture}} alt="Project Image" style="display: block; width:100%">
                 
                </div>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the Portfolio section to learn more!</p>

        </div>
    </div>
</div>